# Ignore virtual environments
edl-env/
venv/

# Ignore large files
*.zip
*.pyd

# IDE configuration files
.idea/
.vscode/

# Python cache files
__pycache__/
*.pyc
port_trace.txt

# Ignore utils
utils/downloads
utils/extracted
utils/QPST
utils/Renesas Flash Programmer V3.19


# Ignore config files
config.ini
